<style media="screen">
  .text-sky {
      color:#8ed6c0;
  }
</style>
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show c-sidebar-unfoldable" id="sidebar">
  <div class="c-sidebar-brand d-md-down-none">
    <h4 class="c-sidebar-brand-full text-center"><span class="text-sky">ᴘʀᴏᴅᴜᴄᴛɪᴏɴ ᴘᴀʀᴛ</span><br><span class="text-white">ᴛʀᴀᴄᴋᴇʀ</span></h4>
    <h4 class="c-sidebar-brand-minimized"><span class="text-sky">ᴘᴘᴛ</span></h4>
  </div>

  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="/index/"><i class="c-sidebar-nav-icon c-icon c-icon-lg cil-compass"></i> Tracker</a>
    </li>
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="/new_workorder/"><i class="c-sidebar-nav-icon c-icon c-icon-lg cil-plus"></i> New Work Order</a>
    </li>
    <li class="c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-dropdown-toggle" href="#">
        <i class="c-sidebar-nav-icon c-icon c-icon-lg cil-layers"></i> Master
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/order_master/">Work Order</a></li>
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/emp_master/">Employee</a></li>
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/fg_master/">FG Code</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-title">Admin Contact</li>
    <li class="c-sidebar-nav-item px-3 c-d-compact-none c-d-minimized-none">
      <div class="mb-1"><small>yashawantatul.man@ccsadvancetech.co.th</small></div>
    </li>
  </ul>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>
</div>
